{% extends 'layout.html' %}

{% block content %}
    <div class="progress" id="barra" style="margin-top: 85mm; width: 50%; margin-left: 25%;">
        <div class="indeterminate"></div>
    </div>
<div class="hide" id="contenido" style="display: block;margin-top: 5%;  padding-inline: auto; background-color: white">
    {% if pregunta is None %}

        <div class="container" style="margin-top: 65mm; padding: 10mm;">
            <div class="jumbotron my-4">
                <h4> Tu puntaje fue de: <u>{{resultado}}</u>. <br>
                Mira el tablero con el ranking de posiciones.</h4>                
            </div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
            <div class="social-networks">
                <a href="https://www.facebook.com/sharer.php?u=https://info-triviachaco.herokuapp.com&t=¡Acabo de jugar la trivia chaqueña! Mi resultado fue de {{ resultado }}." target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/intent/tweet?text=¡Acabo de jugar la trivia chaqueña! Mi resultado fue de {{ resultado }} - fíjate en&url=https://info-triviachaco.herokuapp.com&via=Trivia&hashtags=#TriviaChaqueña" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://api.whatsapp.com/send?text= ¡Acabo de jugar la trivia chaqueña! Mi resultado fue de {{ resultado }} puntos - fíjate en https://info-triviachaco.herokuapp.com"  target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://info-triviachaco.herokuapp.com" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>

        </div>

    {% else %}

        <div class="container" style="align-content: center; text-align: center; margin-inline: auto; padding-bottom: 8mm; margin-top: 10%;">
            <h3 style="text-align: left; padding-top: 8mm"> Pregunta</h3>
            <hr>
            <h4 style="font-family: 'Lucida Sans';text-align: left; text-align: justify;">
                {{pregunta.texto}}
            </h4>

            <form method="POST" class="form">
                {% csrf_token %}
                <input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">
                <p style="text-align: left;"> Seleccione una: </p>
                {% for opciones in pregunta.desordenar_op %}
                <p style="text-align: left;">
                    <label for="choice-{{forloop.counter}}">
                        <input class="with-gap" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}" checked />
                            <span>
                                {{opciones.texto}}
                            </span>
                    </label>                        
                </p>
                {% endfor %}
                <button type="submit" class="right button">
                    Comprobar
                </button>
            </form>
        </div>
    {% endif %}
</div>

<script>
    window.addEventListener('load', () =>{
        setTimeout(carga, 1000);

        //carga(); tambien podemos usar sin time definido
        function carga(){
            document.getElementById('barra').className = 'hide'
            document.getElementById('contenido').className = 'center'
        }

    })
</script>
{% endblock %}
