{% extends 'layout.html' %}

{% block content %}

        <div class="col s4 center", style="padding: 100mm; width: 50%; text-align: center;">
            <a href="{% url 'instrucciones' %}" class="boton_instrucciones", id="boton-instrucciones" style="display: inline-block; width: 30%;" ><i class="boton-instrucciones">Instrucciones</i></a>  
            <a href="{% url 'jugar' %}" class="boton_jugar" id="boton-jugar"  style="display: inline-block; margin-left: 30mm; width: 30%;"><i class="boton-jugar">Jugar</i></a>
        </div>

{% endblock %}