{% extends 'layout.html' %}

{% block content %}
  
    <h1 class="center", style="padding: 15mm; text-align: center;">Instrucciones</h1>
    <!-- <div class="container center"> -->
      <div style="text-align: justify;">
        <p class="center", style="padding: 10mm; width: 80%;">
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever 
          since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s 
          with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus PageMaker
          cluding versions of Lorem Ipsum.
        </p>
      </div>

      <div class="col s4 center" style="padding: 10mm;">
        <a href="{% url 'inicio' %}" class="boton_entendido", id="boton-entendido">Entendido</a> 
      </div>
<!-- </div> -->
{% endblock %}