{% extends 'layout.html' %}

{% block content %}
    <div class="progress" id="barra" style="margin-top: 70mm;">
        <div class="indeterminate"></div>
    </div>
<div class="hide" id="contenido" style="margin-top: 20%;  padding-inline: 10%;">
    {% if pregunta is None %}

        <div class="container" style="margin-top: 65mm;">
            <div class="jumbotron my-4">
                <h4> Ya haz respondido a todas nuestras preguntas. Mira el tablero con el ranking de posiciones.</h4>                
            </div>
        </div>

    {% else %}

        <div class="container" style="align-content: center; text-align: center; margin-inline: auto;">
            <h4 style="font-family: 'Lucida Sans';text-align: left; text-align: justify;">
                {{pregunta.texto}}
            </h4>

            <form method="POST" class="form">
                {% csrf_token %}
                <input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">

                {% for opciones in pregunta.opciones.all %}
                <p style="text-align: left;">
                    <label for="choice-{{forloop.counter}}">
                        <input class="with-gap" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id="choice-{{forloop.counter}}" checked />
                            <span>
                                {{opciones.texto}}
                            </span>
                    </label>                        
                </p>
                {% endfor %}
                <button type="submit" class="right button">
                    Comprobar
                </button>
            </form>
        </div>
    {% endif %}
</div>

<script>
    window.addEventListener('load', () =>{
        setTimeout(carga, 1000);

        //carga(); tambien podemos usar sin time definido
        function carga(){
            document.getElementById('barra').className = 'hide'
            document.getElementById('contenido').className = 'center'
        }

    })
</script>
{% endblock %}
