{% extends 'layout.html' %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h1 class="center">Bienvenido {{ request.user.username }}!! Para jugar vaya a Inicio</h1>
     <a href="{% url 'inicio' %}" class="inicio"></a> <!--este es el inicio del menu-head-->
    {% else %}
    <div class="row" >

        <div class="col s4">
            <a href="{% url 'login' %}"class="boton_ingresar" id="boton-ingresar" ><i class="boton-ingresar">Ingresar</i></a>  
        </div>

        <div class="col s4" >
            <a href="{% url 'register' %}" class="boton_registrar" id="boton-registrar" ><i class="boton-registrar">Registrar</i></a> 
        </div>
    </div>
  {% endif %}
{% endblock %}