{% extends 'layout.html' %}

{% block content %}
<div class="container" style="display: block;margin-top: 5%;  padding-inline: 10px; padding-top: 10px; padding-bottom: 10px; background-color: white">
    
    <div class="jumbotron my-4">
        <h3 class="text-info" style="margin-top: 10px;"> {{respondida.pregunta.texto|safe}}</h3>
        <p>
           <strong> Tu respuesta:</strong>
           {{respondida.respuesta.texto|safe}}
        </p>
    </div>

    {% if respondida.respuesta.correcta %}
        <h4 class="text-success">¡Tu respuesta es correcta! Sigue así.</h4>

    {% else %}
        <h4 class="text-danger">Incorrecto... Sigue intentando.</h4>
    {% endif %}
    <hr>
    <div style="text-align: right;">
        <a href="{% url 'jugar' %}">
            <button class="button">
                Continuar
            </button>
        </a>
    </div>
    

	</div>
</div>

{% endblock %}