{% extends 'layout.html' %}

{% block content %}
<div class="container" style="width: auto;display: block;margin-top: 15%;  padding-inline: 60px; padding-top: 10px; padding-bottom: 10px; background-color: white">   
    <div class="jumbotron my-4">
        <h3>Pregunta</h3>
        <h4 class="text-info" style=" text-align: justify;margin-top: 10px;"> {{respondida.pregunta.texto|safe}}</h4>
        <p style="font-weight: bold;">
        <strong> Tu respuesta:</strong>
        {{respondida.respuesta.texto|safe}}
        </p>
    </div>

    {% if respondida.respuesta.correcta %}
        <h5 class="text-success" style="color: green;">¡Tu respuesta es correcta! Sigue así.</h5>

    {% else %}
        <h5 class="text-danger" style="color: red;">Incorrecto... Sigue intentando.</h5>
    {% endif %}
    <hr>
    <div style="text-align: right;">
        <a href="{% url 'jugar' %}">
            <button class="button">
                Continuar
            </button>
        </a>
    </div>
    

    </div>
</div>

{% endblock %}