{% extends 'layout.html' %}

{% block content %}
    <h4 class="center" style="margin-top: 35mm; font-family: Georgia, 'Times New Roman', Times, serif;">
        <span>
            Los {{contar_user}} mejores jugadores
        </span>
    </h4>

    <table class="striped center" style=" background-color: #c2e0e4; margin-top: 13mm;">
        <thead>
            <tr>

                <th class="th-titulo">Posicion</th>
                <th class="th-titulo">Usuario</th>
                <th class="th-titulo">Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for user_quiz in usuario_quiz %}
                <tr>
                    <th class="th-contenido">
                        {{forloop.counter}}
                    </th>
                    <th class="th-contenido">
                        {{user_quiz.usuario.username}}
                    </th>
                    <th class="th-contenido">
                        {{user_quiz.puntaje_total}}
                    </th>
                </tr>
            {% endfor %}    
        </tbody>
    </table>










{% endblock %}