{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <h4 class="center">
        <span>
            Los {{contar_user}} mejores jugadores
        </span>
    </h4>
    <table class="striped center" style=" background-color: #aee0e6;">
        <thead>
            <tr>
                <th style="text-align: center;">Posicion</th>
                <th style="text-align: center;">Usuario</th>
                <th style="text-align: center;">Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for user_quiz in usuario_quiz %}
                <tr>
                    <th style="text-align: center;">
                        {{forloop.counter}}
                    </th>
                    <th style="text-align: center;">
                        {{user_quiz.usuario.username}}
                    </th>
                    <th style="text-align: center;">
                        {{user_quiz.puntaje_total}}
                    </th>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>









{% endblock %}