{% extends 'layout.html' %}

{% block content %}



<div class="container">
    <h4 class="center">
        <span>
            Los {{contar_user}} mejores jugadores
        </span>
    </h4>
    <table class="striped center">
        <thead>
            <tr>
                <th>Posicion</th>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% for user_quiz in usuario_quiz %}
                <tr>
                    <th>
                        {{forloop.counter}}
                    </th>
                    <th>
                        {{user_quiz.usuario.username}}
                    </th>
                    <th>
                        {{user_quiz.puntaje_total}}
                    </th>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>









{% endblock %}