<header class="main-head">
    <nav>
            <h1 id="logo"><img src="static/logo-gobierno.png", style="max-width: 60mm; margin-left: 5mm;"/></h1>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'perfil' %}">Perfil</a></li>
                    <li><a href="#">Mi Historial</a></li>
                    <li><a href="{% url 'logout' %}">Salir</a></li>
                {% endif %}
            </ul>
    </nav>
</header>