{% load static %}
<!DOCTYPE html>
<html lang="es-ar">
<head>
	<meta charset = "UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	

<title>
	juego
</title>
<link rel="stylesheet" type="text/css" href="../../static/css/materialize.min.css">
	<link rel="stylesheet"  href=" ../../static/css/style.css"> 

</head>
<body style="background-color: #F6F1F1;">

	{% include 'header.html' %}
		<main>
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</main>
	{% include 'footer.html' %}
<script src="{%static 'js/materialize.min.js'%}"></script>
</body>
</html>