{% extends 'layout.html' %}

{% block content %}

<h4 class="center" style="padding: 5mm; margin-top: 30mm; font-family: Georgia, 'Times New Roman', Times, serif;">Editar Contraseña</h4>
<form class="form" method="post" style="padding-top: 0mm;"> 
    {% csrf_token %}
    
    {% for field in form %}
        <label for="{{field.id_for_label}}">
        {{field.label}}:
        </label>
        <div class="col s12">
            {{field}}
        </div>
        {% if field.errors %}
        <div class="col s12 red-text center" style="padding: 1px;">
            {{field.errors}}
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit" id="submit">Guardar Cambios</button>
</form>
{% endblock %}