{% extends 'layout.html' %}

{% block content %}

<form class="form" method="post" style="margin-top: 10%;"> 
    {% csrf_token %}
    
    {% for field in form %}
        <label for="{{field.id_for_label}}">
        {{field.label}}:
        </label>
        <div class="col s12">
            {{field}}
        </div>
        {% if field.errors %}
        <div class="col s12 red-text center" style="padding: 1px;">
            {{field.errors}}
        </div>
        {% endif %}
    {% endfor %}
    <div class="row center" style="color: black">
        {{ form.password.help_text | safe }}
    </div>
    <button type="submit" id="submit">Guardar Cambios</button>
</form>

{% endblock %}