{% extends 'layout.html' %}

{% block content %}

<form class="form" method="post"> 
    {% csrf_token %}
    {% for field in form %}
        <label for="{{field.id_for_label}}">
        {{field.label}}:
        </label>
        <div class="col s12">
            {{field}}
        </div>
        {% if field.errors %}
        <div class="col s12 red-text center" style="padding: 1px;">
            {{field.errors}}
        </div>
        {% endif %}
    {% endfor %}

    <button type="submit" id="submit">Registrarse</button>
    <div style="text-align: center;">
        <a class="center" href="{% url 'login' %}" style="color: rgb(129, 129, 129);">¿Ya tienes una cuenta? Inicie Sesión</a>
    </div>
</form>

{% endblock %}